/* .row {
  display: flex;
  flex-wrap: nowrap; 
  margin: 0;
}

.cell {
  width: 30px; 
  height: 30px;
  border: 1px solid #c00c0c; 
  box-sizing: border-box; 
}


.ship-board {
  margin: auto; 
}

.cell.info {
  background-color: rgb(16, 136, 176);
}

.cell:hover {
  background-color: rgb(84, 82, 82);
} */